body {
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Oswald', sans-serif;
}
/* ul li a:hover {
  text-transform: uppercase;
  color: #0082c8 !important;
} */
.active {
  color: #eb0918 !important;
}
a {
  text-decoration: none !important;
}
a:hover {
  color: #eb0918 !important;
}
.version:hover {
  color: black !important;
}
.card-footer a:hover {
  color: white !important;
}
